<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Flask with Rasheed</title>
</head>
<body>
    <h3>ML Fask Starter Projects</h3>


    <form action="/predict" method="POST">

        <input type="number" name="seplen" placeholder="Sepal Length">
        <input type="number" name="sepwid" placeholder="Sepal Width">
        <input type="number" name="petlen" placeholder="Petal Length">
        <input type="number" name="petwid" placeholder="Petal Width">
        <button type="submit">Predict</button>
    </form>
</body>
</html>